.border{
	border:1px black solid;
}

#conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.bloc{
	width: 250px;
	margin: 30px 50px;

}

.miniature{
	width: 50%;
}

#caroussel{
	width: 500px;
	margin: auto;
}

#caroussel img{
	width: 100%;
	display: block;
}